input:focus{
    outline: none;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;;
}
.fs-25{
    font-size: 25px;
}
.fw-4{
    font-weight: 400;
}
.fw-7{
    font-weight: 700;
}
.font_sec{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.col-pri{
    color: rgb(235, 213, 88);
}
.col-white{
    color: white;
    transition: 0.5s;
}
.black{
    color: black;
    transition: 0.5s;
}
.bg-white1{
    background-color: white;
    transition: 0.5s;
}
.bg-white1:hover{
    background-color: rgb(235, 213, 88);
}
.border{
    width: 150px;
    height: 10px;
    background-color: #000;
}